@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Nunito&display=swap');

/*--------------------------------------Colors*/
.content-color{
    color: #009eae;
}
.content-color2 {
     color: #616161;
}
.bg-container{
    background-color: rgba(46, 187, 197, 0.664);;
}
.bg-container-section{
    background-color: #efefef;
}
.bnt-color{
    color: rgb(248, 248, 248);
    background-color: rgba(194, 171, 152, 0.87);
    border-color: #efefef;
}
.bg-nav{
    background-color:rgba(46, 187, 197, 0.815);
    color: #616161;
}
.bg-find-out-more {
    color: rgba(236, 101, 101, 0.699);
}

/*------------------------------------SPECIAL PADDINGS/MARGINS/TEXT */

.uppercase{
    text-transform: uppercase;
}

.welcome{
   
    text-align: center;
    font-size: 200%;
}
.description {
    text-align: center;
    margin: 20px 0;
    padding: 0px 25px 25px 0px;
}
header{
    height: 100px;
}

.hr-text{
    width:20%;
}
#hr-text{
    width:20%;
    margin-left: 40%;
}


.text{
     font-family: "Nunito", sans-serif;
 }
.font-text2{
     font-family: 'Nanum Pen Script', cursive;
     font-size: 150%;
 }

.pad{
     padding-bottom: 15px;
 }
.pad-home{
    padding:65px;
}
.pad-our-team{
    padding-top: 30px;
}
.pad-p{
    padding:0px 45px;
}
.social-pad{
     margin-top: 25px;
 }
.no-padding{
     padding-left: 0px;
 }
.smaller-font-sizer{
     font-size: 70%;
}
 .font-size{
     font-size: 120%;
 }
 .float-right{
     float: right;
 }

body::before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
}
/*--------------------------------------Header*/

#logo{
    float: left; 
    font-size: 8em;
    color: rgba(61, 61, 61, 0.8);
    font-family: 'Nanum Pen Script', cursive;
    letter-spacing: 4px;
    margin-top: 15px;
    margin-left: 50px;
}

.menu{
    font-size: 115%;
    font-family: "Nunito", sans-serif;
    list-style-type: none;
    letter-spacing: 4px;
    bottom: 0px;
    line-height: 75px;
}
a {
    text-decoration: none;
    color: #616161;
}


.active{
     border-bottom: 1px solid #616161;
}
/*--------------------------------------------- Images */
#image-view1 {
    background-attachment: fixed;
    background-image: url("../images/helpall-home.jpg");
    background-position: bottom;
    background-size: cover;
    height: 80vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
    animation-name: hero-zoom;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes hero-zoom {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1.0);
    }
}
#image-view2 {
    background-attachment: fixed;
    background-image: url("../images/helpall-ourteam.jpg");
    background-position: bottom;
    background-size: cover;
    height: 80vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
    animation-name: hero-zoom;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
#image-view3 {
    background-attachment: fixed;
    background-image: url("../images/helpall-donate.jpg");
    background-position: bottom;
    background-size: cover;
    height: 80vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
     animation-name: hero-zoom;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

#cover-text h5{
    padding-left: 10px;
}
 h5{
      color: #fafafa;
    font-size: 1.2rem;
 }

#cover-text {
    color: #ffffff;
    font-size: 90%;
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 160px;
    height: 160px;
    border-radius: 50%;

    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: rgba(241, 109, 107, 0.9);

    bottom:30px;
    right: 120px;

    position: absolute;

}
#hand-love-image{
    height:200px;
    width: 100%;
    background: url("../images/3helpalltoppage2.jpg") no-repeat center center;
    background-size: cover;
}
#hands-clap-image{
    height:200px;
    width: 100%;
    background: url("../images/4helpalltoppage33.jpg") no-repeat center center;
    background-size: cover;
}
#thankful-image {
    background: url(../images/logothanks.png) repeat center center;
    height:430px;
    background-size: cover;
    
}
/*-------------------------------------Circle Images*/

#center-about{
    padding-top: 75px;
    padding-bottom: 30px;
    margin:0 auto;
}


#circle-container{
    width: 230px;
    height: 230px;
    padding:0px;
    border-style: solid;
    border-color:#616161;
    border-width: 0px;
    border-radius: 50%;
    margin:0 auto;
}
 
#circle-cover-bg{
    background: url(../images/firstcircle.jpg) no-repeat center center;
    height:100%;
    border-radius: 50%;
    background-size: cover;
}
.circle-container2{
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color:#616161;
    border-width: 0px;
    border-radius: 50%;
    margin:0 auto;

}


#circle-cover-bg-charities {
    background: url(../images/hands-charities.jpg) repeat center center;
    height:100%;
    border-radius: 50%;
    background-size: cover;
    animation-name: charities-zoom;
    animation-duration: 20s;
    animation-fill-mode: forwards;
}


#circle-cover-bg-charities2 {
    background: url(../images/hands-charities2.jpg) repeat center center;
    height:100%;
    border-radius: 50%;
    background-size: cover;
    padding-bottom: 15px;
    line-height: 12px;
    animation-name: charities-zoom;
    animation-duration: 20s;
    animation-fill-mode: forwards;
}

#charities-outer{
    height:300px;
    width: 100%;
    overflow:hidden;
    position: relative;
}

@keyframes charities-zoom {
    from{
        transform: scale(0.6);
    }
    to{
        transform: scale(1.0);
    }
}
.circle-container3{
    width: 115px;
    height: 115px;
    padding:2px;
    border-style: solid;
    border-color:#616161;
    border-width: 0px;
    border-radius: 50%;
    box-shadow: 0px 1px 10px 0px dimgrey;
    margin:0 auto;

}
#circle-igd-bg{
    background: url(../images/irishguidedogs.png) no-repeat center center;
    height:100%;
    border-radius: 50%;
    background-size: cover;
}
#circle-eni-bg{
    background: url(../images/enableireland.jpg) no-repeat center center;
    height:100%;
    border-radius: 50%;
    background-size: cover;
}
#circle-ic-bg{
    background: url(../images/irishcancersociety.png) no-repeat center center;
    height:100%;
    border-radius: 50%;
    background-size: cover;
}
#circle-iw-bg{
    background: url(../images/irishwheelchair.png) no-repeat center center;
    height:100%;
    border-radius: 50%;
    background-size: cover;
}
#circle-fci-bg{
    background: url(../images/focusireland.jpg) no-repeat center center;
    height:100%;
    border-radius: 50%;
    background-size: cover;
}
#circle-hhi-bg{
    background: url(../images/habitatforhumanity.jpg) no-repeat center center;
    height:100%;
    border-radius: 50%;
    background-size: cover;
}
#circle-dsi-bg{
    background: url(../images/downsyndrom.jpg) no-repeat center center;
    height:100%;
    border-radius: 50%;
    background-size: cover;
}
#circle-mwi-bg{
    background: url(../images/makeawish.jpg) no-repeat center center;
    height:100%;
    border-radius: 50%;
    background-size: cover;
}
#circle-aad-bg{
    background: url(../images/aadi.jpg) no-repeat center center;
    height:100%;
    border-radius: 50%;
    background-size: cover;
}
#circle-ihf-bg{
    background: url(../images/irishheart.png) no-repeat center center;
    height:100%;
    border-radius: 50%;
    background-size: cover;
}

.circle-container4{
    width: 100px;
    height: 100px;
    padding:8px;
    border-radius: 50%;
    margin:0 auto;
   

}




/*------------------------------------------------------------footer*/

#footer{
    background-color:rgba(46, 187, 197, 0.664);
    min-height: 150px;
    font-size: 200%;
    margin: 0 auto;
    padding: 50px;
}
.footer-msg{
    color: #616161;
    font-family: 'Nanum Pen Script', cursive;
}
.footer-align{
    display: flex;
    justify-content: center;
}
/*-------------------------------------------------------------Hover*/
a:hover {
    color:  #fefefe;
}
.footer-hover:hover{
    color: rgba(221, 218, 217, 0.9)
}

.grow { transition: all .2s ease-in-out; }

.grow:hover { transform: scale(1.0); }

.btn-pulse{ transition: all 1s ease-in-out}

.btn-pulse:hover{ 
    color: rgba(0, 0, 0, 0.555);
    background-color:rgba(46, 187, 197, 0.664);
    transform: scale(1.0);}

.facebook:hover { 
    color:rgb(30, 49, 156);
}
.twitter:hover{
    color: rgb(0, 168, 247);
}
.instagram:hover{
    color: rgb(150, 94, 240);
}
.youtube:hover{
    color: rgb(255, 0, 0);
}
/*---------------------------------------------------------Form*/
.form{
    padding-top: 30px;
    margin-left: 15px;
    min-height: 600px;

}
.form2 {
    min-height: 300px;
    padding: 40px;
    margin: 40px;

}
/*---------------------------------------------------------Cards*/
.card{
    margin: 12px;
    background: white;
    border-radius: 4px;
    padding: 25px;
    font-weight: 100;
    box-shadow: 0px 1px 10px 0px dimgrey;
}

